@{
    ViewBag.Title = "后台登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderScript
{
    <link href="~/css/H-ui.login.css" rel="stylesheet" type="text/css" />
}
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="~/Main/Login" method="post" id="formLogin">
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-5">
                    <input id="" name="phoneNum" type="text" placeholder="账户" class="input-text size-L" dataType="m" errormsg="请输入正确的手机号" nullmsg="请输入手机号">
                </div>
                <div class="formControls col-4"></div>
            </div>
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-5">
                    <input id="" name="password" type="password" placeholder="密码" class="input-text size-L" dataType="*2-16" errormsg="密码长度在2-16之间" nullmsg="请输入密码">
                </div>
                <div class="formControls col-4"></div>
            </div>
            <div class="row cl">
                <div class="formControls col-8 col-offset-3">
                    <input class="input-text size-L" name="verifyCode" type="text" placeholder="验证码" dataType="*4-4" errormsg="验证码长度是4位" nullmsg="请输入验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
                    <img id="imgVerify" src="~/Main/CreateVerifyCode"> <a id="kanbuq" href="javascript:;">看不清，换一张</a>
                </div>
                <div class="formControls col-1"></div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value="">
                        使我保持登录状态
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <input name="" type="button" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;" id="btnLogin">
                    <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin.v2.3</div>
@section FooterScript
{
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?080836300300be57b7f34f4b3e97d911";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" +
            _bdhmProtocol +
            "hm.baidu.com/h.js%3F080836300300be57b7f34f4b3e97d911' type='text/javascript'%3E%3C/script%3E"));

        $(function() {
            var validForm = $("#formLogin").Validform({ tiptype: 2 });
            $("#imgVerify,#kanbuq").click(function() {
                $("#imgVerify").attr("src", "/Main/CreateVerifyCode?" + Math.random());
            });
            $("#btnLogin").click(function() {
                if (validForm.check(false)) {
                    var dataForm = $("#formLogin").serializeArray();
                    $.ajax({
                        url: "/Main/Login",
                        type: "post",
                        data: dataForm,
                        dataType: "json",
                        success: function(msg) {
                            if (msg.status == "ok") {
                                window.location = "/Main/Index";
                            } else {
                                alert("error:" + msg.msg);
                                $("#imgVerify").click();
                            }
                        },
                        error: function() {
                            alert("网络请求失败！");
                            $("#imgVerify").click();
                        }
                    });
                }
            });
        });
    </script>
}