@using ZSZ.DTO
@model ZSZ.AdminWeb.Models.RegionEditGetViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="~/Region/Edit" method="post" id="formEdit">
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>区域名称：</label>
        <div class="formControls col-5">
            <input type="hidden" name="id" value="@Model.Region.Id" />
            <input type="text" name="name" class="input-text" value="@Model.Region.Name" placeholder="" datatype="*2-16" nullmsg="区域名称不能为空" />
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <label class="form-label col-3"><span class="c-red">*</span>城市名称：</label>
        <div class="formControls col-5">
            @Html.DropDownList("cityId", new SelectList(Model.Cities, nameof(CityDTO.Id), nameof(CityDTO.Name), Model.Region.CityId))
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row cl">
        <input type="button" value="修改" id="btnEditRegion" />
    </div>
</form>
@section FooterScript
{
    <script type="text/javascript">
        $(function() {
            var formValid = $("#formEdit").Validform({ tiptype: 2 });
            $("#btnEditRegion").click(function () {
                if (formValid.check(false)) {
                    var formData = $("#formEdit").serializeArray();
                    $.ajax({
                        url: "/Region/Edit",
                        type: "post",
                        data: formData,
                        dataType: "json",
                        success: function(msg) {
                            if (msg.status == "ok") {
                                layer.msg('修改成功!', { icon: 1, time: 1000 });
                                window.parent.location.reload();
                            } else {
                                alert("error:" + msg.msg);
                            }
                        },
                        error: function() {
                            alert("请求失败！");
                        }
                    });
                }
            });
        });
    </script>
}

